# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [147]:
import pandas as pd# Your code here

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

insurance_company_data = pd.read_csv(url)

In [148]:
#clean_insurance_company_data = insurance_company_data.dropna()
#shows the number of rows and columns the dataset has
#dentify the dimensions of the dataset by determining the number of rows and columns it contains.
print("Dataset shape (Numebr of Rows and Columns): ", insurance_company_data.shape) 
#2973 entries are complete NULLS and a new function should be implimented to remove the excess empty data inputs 
#for example.    clean_insurance_company_data = insurance_company_data.dropna()

Dataset shape (Numebr of Rows and Columns):  (4008, 11)

In [149]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the 
#variable. You should also provide suggestions for fixing any incorrect data types.
print("Types of Data in the Dataset :", insurance_company_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
Types of Data in the Dataset : None

In [150]:
#Values of states
print("Unique values of the States:", insurance_company_data.ST.unique())

Unique values of the States: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

In [151]:
#Values of gender
print("Unique values of GENDER:", insurance_company_data.GENDER.unique())

Unique values of GENDER: [nan 'F' 'M' 'Femal' 'Male' 'female']

In [152]:
#Values of education
print("Unique values of Education:", insurance_company_data.Education.unique())

Unique values of Education: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

In [154]:
#Values of Customer Lifetime Value
print("Unique values of Customer Lifetime Value:", insurance_company_data["Customer Lifetime Value"].unique())

Unique values of Customer Lifetime Value: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

In [ ]:
#Values of

In [139]:
insurance_company_data.select_dtypes(include='object').nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
dtype: int64

In [82]:
#Compute summary statistics such as mean, median, mode, standard deviation, 
#and quartiles to understand the central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.
insurance_company_data.describe()
#

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [51]:
#The marketing team wants to know the top 5 less common customer locations. 
#Create a pandas Series object that contains the customer locations and their frequencies, 
#and then retrieve the top 5 less common locations in ascending order.

insurance_company_data_states = insurance_company_data[["ST"]].value_counts(ascending=True)# Your code here
insurance_company_data_states.head()

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
unique_policy_types = insurance_company_data['Policy Type'].unique()
print("Unique values in the Policy Type column:", unique_policy_types)

In [77]:
#The sales team wants to know the total number of policies sold for each type of policy. 
#Create a pandas Series object that contains the policy types and their total number of policies sold, 
#and then retrieve the policy type with the highest number of policies sold.
# Your code here
insurance_company_data_policy = insurance_company_data[["Policy Type"]].value_counts(ascending=False)
insurance_company_data_policy
#highest number of policies is "Personal Auto"

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [96]:
#The sales team wants to know if customers with Personal Auto have a lower income than those with 
#Corporate Auto. How does the average income compare between the two policy types?
#Use loc to create two dataframes: one containing only Personal Auto policies and one containing only 
#Corporate Auto policies.

#Personal Auto type
insurance_company_data_personalpolicy = insurance_company_data.loc[insurance_company_data['Policy Type'] == 'Personal Auto']

#Corporate Auto type
insurance_company_data_corporatepolicy = insurance_company_data.loc[insurance_company_data['Policy Type'] == 'Corporate Auto']

#Calculate the average income for each policy.

#Print the results.
# Your code here

In [116]:
insurance_company_data_personalpolicy["Income"].mean()

38180.69871794872

In [117]:
insurance_company_data_corporatepolicy["Income"].mean()

41390.31196581197

In [118]:
#printing the result of the averate income of Personal Auto policy
print(insurance_company_data_personalpolicy["Income"].mean())

38180.69871794872

In [119]:
#printing the result of the averate income of Corporate Auto policy
#Corporate Vehicle customers have a higher average Income
print(insurance_company_data_corporatepolicy["Income"].mean())

41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [127]:
# Your code here
#Review again the statistics for total claim amount to gain an understanding of the data.
#To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
#Use DataFrame methods to calculate summary statistics about the high policy claim amount data.
#Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.

#Hint 2: check Boolean selection according to the values of a single column in 
#https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9
insurance_company_data_total_claim_amount = insurance_company_data[["Total Claim Amount"]].value_counts(ascending=True)
insurance_company_data_total_claim_amount

Total Claim Amount
0.382107               1
430.994107             1
439.200000             1
443.670399             1
444.470676             1
                      ..
316.800000            12
350.400000            14
312.000000            14
331.200000            15
321.600000            19
Name: count, Length: 761, dtype: int64

In [155]:
# Select customers higher than the 75% of the total customers of Total claim Amount
insurance_company_data_75percent_total_claim_amount = insurance_company_data[insurance_company_data["Total Claim Amount"] > 532.800000]
insurance_company_data_75percent_total_claim_amount

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [156]:
# Select customers lower than the 25% of the total customers of Total claim Amount

insurance_company_data_25percent_total_claim_amount = insurance_company_data[insurance_company_data["Total Claim Amount"] < 202.157702]
insurance_company_data_25percent_total_claim_amount

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
21,QK46697,Washington,M,Bachelors,617710.93%,61040.0,79.0,1/1/00,Personal Auto,Two-Door Car,20.382876
...,...,...,...,...,...,...,...,...,...,...,...
1050,BJ53923,Arizona,M,High School or Below,260027.21%,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1051,CZ96653,Oregon,F,Bachelor,853479.28%,47325.0,107.0,1/0/00,Personal Auto,SUV,64.598216
1056,PI47776,Oregon,F,Bachelor,253070.51%,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1063,GQ66762,Cali,M,College,477368.64%,33701.0,63.0,1/0/00,Personal Auto,Four-Door Car,171.325856
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869

In [134]:
insurance_company_data_25percent_total_claim_amount.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    268.000000            268.000000          268.000000
mean   55345.757463            444.138060           92.020713
std    25312.207830           3130.681063           54.926531
min        0.000000             61.000000            0.382107
25%    36650.000000             66.000000           47.917904
50%    54231.000000             72.000000           86.390802
75%    75224.750000             98.250000          138.278755
max    99790.000000          35354.000000          201.455005

In [131]:
insurance_company_data_75percent_total_claim_amount.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678